.page {
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;

  @media (min-width: 768px) {
    min-width: 768px;
  }

  @media (min-width: 1440px) {
    min-width: 1440px;
  }
}

.page__body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  z-index: -2;
}

.page__footer {
  position: relative;
}
