.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages--usefully {
  background-image: url(/source/img/green-background-1.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.advantages--simple {
  background-image: url(/source/img/green-background-2.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.advantages--method {
  background-image: url(/source/img/green-background-3.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.advantages--result {
  background-image: url(/source/img/green-background-4.svg);
  background-repeat: no-repeat;
  background-position: left;
}
