.cat-parameters {
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}

.cat-parameters__form {
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px 32px 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px 0 72px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.cat-parameters__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 75px;
  }
}

.cat-parameters__common {
  margin: 0 0 55px 0;
  padding: 0;
  border: none;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      display: block;
      width: 2000%;
      border-bottom: 1px solid #d9d9d9;
      position: absolute;
      top: 186px;
      left: -1000%;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 78px 0;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 570px;
    margin: 0;
  }
}

.cat-parameters__wishes {
  margin: 0 0 52px 0;
  padding: 0;
  border: none;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      display: block;
      width: 2000%;
      border-bottom: 1px solid #d9d9d9;
      position: absolute;
      top: 343px;
      left: -1000%;
    }
  }

  @media (min-width: $tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 25px 5px 29px 25px;
    width: 595px;
    margin: 0 0 70px 0;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 533px;
    padding: 25px 5px 29px 25px;
    margin: 0 0 0 75px;
  }
}

.cat-parameters__owner {
  margin: 0 0 24px 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 50px 0;
  }
}

.cat-parameters__comment {
  margin: 0 0 25px 0;
  padding: 0;
  border: none;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 0 90px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 90px 0;
  }
}

.cat-parameters__additional {
  margin: 0 0 40px 0;
  padding: 0;
  border: none;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 0 16px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 25px 0;
  }
}

.cat-parameters__legend {
  margin: 0 0 35px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;

  &--contacts {
    @media (max-width: $mobile-width-only) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        left: 205px;
        background-color: $basicgreen;
        height: 2px;
        width: 100vw;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      margin: 0 0 75px 0;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        left: -100vw;
        background-color: $basicgreen;
        width: calc(100vw - 30px);
        height: 2px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        right: calc( -1 * (100vw + 42px));
        background-color: $basicgreen;
        width: 100vw;
        height: 2px;
      }
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 65px 0;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 16px;
        left: -100vw;
        background-color: $basicgreen;
        height: 2px;
        width: calc(100vw - 40px);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 16px;
        right: calc( -1 * (100vw + 42px));
        background-color: $basicgreen;
        height: 2px;
        width: 100vw;
      }
    }
  }

  &--comments {
    @media (max-width: $mobile-width-only) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        left: 145px;
        background-color: $basicgreen;
        height: 2px;
        width: 100vw;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      margin: 0 0 75px 0;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        left: -100vw;
        background-color: $basicgreen;
        height: 2px;
        width: calc(100vw - 30px);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        left: 220px;
        background-color: $basicgreen;
        height: 2px;
        width: 100vw;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        left: -100vw;
        background-color: $basicgreen;
        height: 2px;
        width: calc(100vw - 40px);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        left: 222px;
        background-color: $basicgreen;
        height: 2px;
        width: 100vw;
      }
    }
  }

  &--additional {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 40px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        left: 165px;
        background-color: $basicgreen;
        height: 2px;
        width: 100vw;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      margin: 0 0 63px 0;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        left: -100vw;
        background-color: $basicgreen;
        height: 2px;
        width: calc(100vw - 30px);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        right: calc(-1 * (100vw + 40px));
        background-color: $basicgreen;
        height: 2px;
        width: 100vw;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 23px;
        left: -100vw;
        background-color: $basicgreen;
        height: 2px;
        width: calc(100vw - 40px);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 23px;
        right: calc(-1 * (100vw + 40px));
        background-color: $basicgreen;
        height: 2px;
        width: 100vw;
      }
    }
  }
}

.cat-parameters__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cat-parameters__item:not(:last-child) {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.cat-parameters__item--radio:not(:last-child) {
  margin-bottom: 24px;
}

.cat-parameters__item--checkbox:not(:last-child) {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}

.cat-parameters__control {
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.cat-parameters__list--owner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 580px);
    column-gap: 70px;
  }
}

.cat-parameters__list--additional {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 345px 265px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 221px);
    column-gap: 104px;
  }
}

.cat-parameters__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--radio {
    margin-left: 45px;

    @media (min-width: $tablet-width) {
      margin-left: 60px;
    }
  }

  &--radio:hover {
    cursor: pointer;
  }

  &--checkbox {
    margin-left: 45px;

    @media (min-width: $tablet-width) {
      margin-left: 60px;
    }
  }

  &--checkbox:hover {
    cursor: pointer;
  }
}

.control-checkbox:disabled ~ .cat-parameters__text--checkbox:hover {
  cursor: default;
}

.control-radio:disabled ~ .cat-parameters__text--radio:hover {
  cursor: default;
}

.control-checkbox:disabled ~ .cat-parameters__text--checkbox {
  color: #222222;
  opacity: 0.3;
}

.control-radio:disabled ~ .cat-parameters__text--radio {
  color: #222222;
  opacity: 0.3;
}

.cat-parameters__button {
  box-sizing: border-box;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 44px;
  border: none;
  min-width: 280px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 13px 45px;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 13px 208px;
    margin-bottom: 82px;
  }
}

.cat-parameters__notice {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-left: 61px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}
