.cat-parameters__common {
  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 570px;
  }
}

.cat-parameters__wishes {
  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 570px;
  }
}

.cat-parameters__list {
  list-style-type: none;
}

.cat-parameters__list--owner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 580px);
  }
}

.cat-parameters__list--additional {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 265px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 221px);
  }
}

.cat-parameters__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.cat-parameters__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.cat-parameters__button {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: $basicgreen;
  padding: 7px 44px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 13px 45px;
  }
}

.cat-parameters__notice {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}
