.cat-parameters {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px 32px 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 30px;
  }
}

.cat-parameters__common {
  margin: 0 0 24px 0;
  padding: 0;
  border: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 570px;
  }
}

.cat-parameters__wishes {
  margin: 0 0 24px 0;
  padding: 0;
  border: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 570px;
  }
}

.cat-parameters__owner {
  margin: 0 0 24px 0;
  padding: 0;
  border: none;
}

.cat-parameters__comment {
  margin: 0 0 22px 0;
  padding: 0;
  border: none;
}

.cat-parameters__additional {
  margin: 0 0 34px 0;
  padding: 0;
  border: none;
}

.cat-parameters__legend {
  margin: 0 0 35px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.cat-parameters__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cat-parameters__item:not(:last-child) {
  margin-bottom: 10px;
}

.cat-parameters__item--radio:not(:last-child) {
  margin-bottom: 19px;
}

.cat-parameters__item--checkbox:not(:last-child) {
  margin-bottom: 20px;
}

.cat-parameters__control {
  position: relative;
}

.cat-parameters__list--owner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 580px);
  }
}

.cat-parameters__list--additional {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 265px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 221px);
  }
}

.cat-parameters__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  &--radio {
    margin-left: 40px;
  }

  &--checkbox {
    margin-left: 40px;
  }
}

.cat-parameters__button {
  box-sizing: border-box;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 7px 44px;
  border: none;
  min-width: 280px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 13px 45px;
  }
}

.cat-parameters__notice {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}
