.control-radio__mark {
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  position: absolute;
  top: -5px;

  &:hover {
    border: 1px solid #bababa;
    cursor: pointer;
  }
}

.control-radio:checked + .control-radio__mark::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $basicgreen;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control-radio:disabled + .cat-parameters__text--radio {
  color: #222222;
  opacity: 0.3;
}

.control-radio:disabled + .control-radio__mark {
  border: 1px solid #bababa;
  opacity: 0.3;
  cursor: default;
}

.cat-parameters__control:hover .control-radio__mark {
  border: 1px solid #bababa;
}
