.control-input {
  box-sizing: border-box;
  min-height: 45px;
  border: 1px solid #e7e7e7;
  margin-left: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 13px 36px 13px 15px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 36px 11px 19px;
  }

  &--name {
    width: 229px;
    margin-left: 9px;

    @media (max-width: $mobile-width-only) {
      max-height: 46px;
    }

    @media (min-width: $tablet-width) {
      width: 567px;
    }

    @media (min-width: $desktop-width) {
      width: 506px;
    }
  }

  &--weight {
    width: 204px;
    margin-left: 12px;

    @media (max-width: $mobile-width-only) {
      max-height: 46px;
    }

    @media (min-width: $tablet-width) {
      width: 536px;
    }

    @media (min-width: $desktop-width) {
      width: 475px;
    }
  }

  &--age {
    width: 172px;
    margin-left: 10px;

    @media (max-width: $mobile-width-only) {
      max-height: 46px;
    }

    @media (min-width: $tablet-width) {
      width: 497px;
    }

    @media (min-width: $desktop-width) {
      width: 436px;
    }
  }

  &--email {
    width: 219px;
    margin-left: 13px;

    @media (max-width: $mobile-width-only) {
      max-height: 46px;
    }

    @media (min-width: $tablet-width) {
      width: 551px;
      margin-left: 18px;
    }

    @media (min-width: $desktop-width) {
      width: 486px;
      margin-left: 16px;
    }
  }

  &--phone {
    width: 204px;
    margin-left: 5px;

    @media (max-width: $mobile-width-only) {
      max-height: 46px;
    }

    @media (min-width: $tablet-width) {
      width: 535px;
    }

    @media (min-width: $desktop-width) {
      width: 472px;
    }
  }

  &--comment {
    width: 280px;
    min-height: 150px;
    margin-left: 0;
    padding: 13px 12px 13px 15px;
    resize: none;

    @media (min-width: $tablet-width) {
      width: 631px;
      padding: 13px 15px;
    }

    @media (min-width: $desktop-width) {
      width: 1220px;
    }
  }

  &:focus {
    outline: 2px solid #444444;
    outline-offset: -1px;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &--error {
    outline: 2px solid #ff8282;
    outline-offset: -1px;
  }
}

.control-input--email-error {
  outline: 2px solid #ff8282;
  outline-offset: -1px;
}

.control-input--phone-error {
  outline: 2px solid #ff8282;
  outline-offset: -1px;
}
