.control-input {
  box-sizing: border-box;
  min-height: 45px;
  border: 1px solid #e7e7e7;
  margin-left: 3px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 13px 36px 13px 15px;
  color: #444444;

  &--name {
    width: 229px;

    @media (min-width: $tablet-width) {
      width: 567px;
    }

    @media (min-width: $desktop-width) {
      width: 506px;
    }
  }

  &--weight {
    width: 204px;

    @media (min-width: $tablet-width) {
      width: 536px;
    }

    @media (min-width: $desktop-width) {
      width: 475px;
    }
  }

  &--age {
    width: 172px;

    @media (min-width: $tablet-width) {
      width: 497px;
    }

    @media (min-width: $desktop-width) {
      width: 436px;
    }
  }

  &--email {
    width: 219px;

    @media (min-width: $tablet-width) {
      width: 551px;
    }

    @media (min-width: $desktop-width) {
      width: 486px;
    }
  }

  &--icon-email {
    position: absolute;
    top: 5px;
    left: 250px;

    @media (min-width: $tablet-width) {
      left: 580px;
    }

    @media (min-width: $desktop-width) {
      left: 500px;
    }
  }

  &--phone {
    width: 204px;

    @media (min-width: $tablet-width) {
      width: 535px;
    }

    @media (min-width: $desktop-width) {
      width: 472px;
    }
  }

  &--icon-phone {
    position: absolute;
    top: 5px;
    left: 250px;

    @media (min-width: $tablet-width) {
      left: 580px;
    }

    @media (min-width: $desktop-width) {
      left: 500px;
    }
  }

  &--comment {
    width: 280px;
    min-height: 150px;
    margin-left: 0;
    padding: 13px 15px;

    @media (min-width: $tablet-width) {
      width: 631px;
    }

    @media (min-width: $desktop-width) {
      width: 1220px;
    }
  }
}
