.contacts {
  position: relative;
  margin: 0 auto;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  &--inner {
    background-color: #f2f2f2;
  }
}

.contacts__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 70px 60px 70px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    position: absolute;
    top: 95px;
    left: calc((100vw - 1440px) / 2 + 110px);
    background-color: #ffffff;
    padding: 56px 80px 62px 80px;
    width: 565px;
  }
}

.contacts__title {
  display: inline-block;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 171px;
  }
}

.contacts__address {
  display: inline-block;
  width: 140px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 160px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.contacts__br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.contacts__map {
  display: block;
  min-width: 320px;
  max-height: 362px;
  width: 100%;
  border: none;
  background-image: url("../img/map.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    min-width: 768px;
    max-height: 400px;
    background-image: url("../img/img-tablet/map.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/img-tablet/map@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    background-image: url("../img/img-desktop/map.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/img-desktop/map@2x.jpg");
      background-size: 1440px auto;
    }
  }
}
