.control-checkbox {
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.control-checkbox__mark {
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  position: absolute;
  top: -5px;

  &:hover {
    border: 1px solid #bababa;
    cursor: pointer;
  }
}

.control-checkbox:checked + .control-checkbox__mark::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icons/icon-v.svg") no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control-checkbox:disabled ~ .cat-parameters__text--checkbox {
  color: #222222;
  opacity: 0.3;
}

.control-checkbox:disabled ~ .control-checkbox__mark {
  border: 1px solid #bababa;
  opacity: 0.3;
  cursor: default;
}
