.contacts {
  position: relative;
  margin: 0 auto;
  min-width: 320px;

  @media (min-width: $tablet-width) {
  min-width: 768px;
  }

  &--inner {
    background-color: #f2f2f2;
  }
}

.contacts__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 56px 70px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
    padding: 56px 80px;
    width: 565px;
  }
}

.contacts__title {
  display: inline-block;
  width: 137px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  display: inline-block;
  width: 139px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 160px;
    text-align: right;
  }
}

.contacts__map {
  display: block;
  min-width: 320px;
  max-height: 362px;
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    max-height: 400px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}
