.extra-card {
  padding: 13px 0 19px 0;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    border-bottom: none;
    padding: 26px 38px 28px 38px;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 622px 244px;
    gap: 38px 0;
  }
}

.extra-card__data {
  display: grid;
  grid-template-columns: 150px 130px;
  grid-row-gap: 13px;
  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: end;
    grid-template-columns: 300px 239px 93px;
    grid-row-gap: 0;
    margin: 0 0 25px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 324px 132px 156px;
    margin: 0;
  }
}

.extra-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-card__property {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @media (min-width: $tablet-width) {
    text-align: end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.extra-card__meaning {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-align: end;
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  @media (min-width: $tablet-width) {
    text-align: end;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.extra-card__order {
  box-sizing: border-box;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;

  @media (min-width: $tablet-width) {
    padding: 7px 286px;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 26px;
    max-width: 244px;
    margin-left: 0;
  }
}
