.extra-card__data {
  display: grid;
  grid-template-columns: 150px 130px;
  grid-row-gap: 13px;
}

.extra-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extra-card__property {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.extra-card__meaning {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: end;
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
