.extra-cards {
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }
}

.extra-cards__wrapper {
  width: 280px;
  padding: 20px 20px 35px 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 30px 30px 73px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    padding: 30px 110px;
    display: grid;
    grid-template-columns: 900px 245px;
    grid-column-gap: 79px;
  }
}

.extra-cards__list {
  list-style-type: none;
  margin: 0 0 35px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 70px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 896px;
    margin: 0;
  }
}

.extra-cards__item {
  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.extra-cards__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  padding: 10px 0 36px 0;
  margin: 0;
  border-bottom: 1px solid #cdcdcd;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 42px;
      left: 267px;
      border-top: 2px solid $basicgreen;
      width: 1000%;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 15px 0 80px 38px;
    border: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 67px;
      left: -1000%;
      border-top: 2px solid $basicgreen;
      width: calc(30px + 1000%);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 67px;
      left: 438px;
      border-top: 2px solid $basicgreen;
      width: 1000%;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 18px 0 80px 0;
    border: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 70px;
      left: 0;
      border-top: 2px solid $basicgreen;
      width: 70px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 70px;
      left: 513px;
      border-top: 2px solid $basicgreen;
      width: 927px;
    }
  }
}
