.food-card {
  display: grid;
  grid-template-columns: 140px 140px;
  padding-top: 10px;

  @media (max-width: $mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::after {
      content: "";
      display: block;
      width: 2000%;
      position: relative;
      top: 11px;
      left: -1000%;
      border-bottom: 1px solid #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 126px 126px;
    grid-template-rows: 205px max-content max-content max-content;
    padding: 0 37px 39px 39px;
    margin-bottom: 0;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 17%, #f2f2f2 17%, #f2f2f2 100%);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 90px 90px;
    padding: 0 30px 40px 35px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 19%, #f2f2f2 19%, #f2f2f2 100%);
  }
}

.food-card__image-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.food-card__image {
  &--500g {
    @media (max-width: $mobile-width-only) {
      margin: 20px auto -15px auto;
    }

    @media (min-width: $tablet-width) {
      margin: 50px auto 0 auto;
    }
  }

  &--1000g {
    @media (max-width: $mobile-width-only) {
      margin: 10px auto -10px auto;
    }

    @media (min-width: $tablet-width) {
      margin: 20px auto 0 auto;
    }
  }

  &--500g-chicken {
    @media (max-width: $mobile-width-only) {
      position: relative;
      top: -4px;
    }

    @media (min-width: $tablet-width) {
      width: 161px;
      height: 172px;
    }
  }

  &--1000g-chicken {
    @media (min-width: $tablet-width) {
      width: 168px;
      height: 206px;
    }
  }

  &--500g-fish {
    @media (max-width: $mobile-width-only) {
      position: relative;
      top: 6px;
    }

    @media (min-width: $tablet-width) {
      width: 163px;
      height: 174px;
    }
  }

  &--1000g-fish {
    @media (min-width: $tablet-width) {
      width: 168px;
      height: 200px;
    }
  }

  &--500g-buckwheat {
    @media (max-width: $mobile-width-only) {
      position: relative;
      top: 9px;
    }

    @media (min-width: $tablet-width) {
      width: 161px;
      height: 171px;
    }
  }

  &--1000g-buckwheat {
    @media (min-width: $tablet-width) {
      width: 168px;
      height: 200px;
    }
  }

  &--500g-rice {
    @media (max-width: $mobile-width-only) {
      position: relative;
      top: 4px;
    }

    @media (min-width: $tablet-width) {
      width: 163px;
      height: 174px;
    }
  }
}

.food-card__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 76px;

  @media (min-width: $tablet-width) {
    width: 140px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 0 auto;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    line-height: 21px;
  }
}

.food-card__properties {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 50px 91px;
  margin: 13px 0 0 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    grid-template-columns: 126px 126px;
    grid-row-gap: 6px;
    margin: 20px 0 30px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 80px 85px;
    padding: 0 3px;
    margin: 24px 0 32px 0;
  }
}

.food-card__property {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.food-card__meaning {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: end;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
    margin: 0;
  }
}

.food-card__order {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin: 22px 0 15px 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    padding: 10px 93px;
    margin: 0 2px 0 2px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 53px;
    margin-right: 10px;
  }
}
