.food-programs {
  padding: 20px;
  position: relative;

    @media (min-width: $tablet-width) {
      padding: 20px 30px;
    }
}

.food-programs__less-weight {
  background-image: url("/source/img/less-weight.png");
  background-repeat: no-repeat;
  background-position: 22px 21px;
  margin-bottom: 20px;

    &::after {
      content: '';
      display: block;
      width: 240px;
      border-bottom: 1px solid #d9d9d9;
      position: absolute;
      top: 229px;

        @media (min-width: $tablet-width) {
          display: none;
        }
    }

    @media (min-width: $tablet-width) {
      background-image: url("/source/img/img-tablet/less-weight.svg");
      background-repeat: no-repeat;
      background-position: 446px 92px;
    }
}

.food-programs__more-weight {
  background-image: url("/source/img/more-weight.svg");
  background-repeat: no-repeat;
  background-position: 13px 24px;
  margin-bottom: 20px;

    &::after {
      content: '';
      display: block;
      width: 240px;
      border-bottom: 1px solid #d9d9d9;
      position: absolute;
      top: 515px;

        @media (min-width: $tablet-width) {
          display: none;
        }
    }

    @media (min-width: $tablet-width) {
      background-image: url("/source/img/img-tablet/more-weight.svg");
      background-repeat: no-repeat;
      background-position: 412px 91px;
    }
}
