.food-programs {
  &__less-weight {
    background-image: url("/source/img/less-weight.png");
    background-repeat: no-repeat;
    background-position: 22px 21px;
  }

  &__more-weight {
    background-image: url("/source/img/more-weight.svg");
    background-repeat: no-repeat;
    background-position: 22px 21px;
  }
}
