.food-program {
  display: block;
  box-sizing: border-box;
  width: 280px;
  min-height: 266px;
  background-color: #f2f2f2;
  padding: 21px 33px 18px 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 14px 26px 57px 26px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 77px 51px 55px 52px;

    &:not(:last-child) {
      margin-right: 80px;
    }
  }
}

.food-program__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 9px auto 29px 71px;
  text-transform: uppercase;
  width: 137px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 63px auto 24px 27px;
    width: 210px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.food-program__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $specialgrey;
  margin: 0 0 42px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin: 0 auto 48px 27px;
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    margin: 0 0 23px 0;
  }
}

.food-program__link {
  font-display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 150px;
    margin: 0 25px 0 27px;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
    margin: 0 28px 0 0;
  }
}
