.gift {
  width: 280px;
  min-height: 290px;
  background-color: #70b448;
  background-image: url("../img/icons/icon-gift.svg"), url("../img/background-gift.jpg");
  background-repeat: no-repeat, repeat-y;
  background-position: 101px 59px, center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/icons/icon-gift.svg"), url("../img/background-gift@2x.jpg");
    background-size: auto, 280px auto;
  }

  @media (max-width: $mobile-width-only) {
    box-sizing: border-box;
    padding-top: 187px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 707px;
    min-height: 200px;
    padding: 0;
    background-image: url("../img/icons/icon-gift.svg"), url("../img/img-tablet/background-gift.jpg");
    background-repeat: no-repeat;
    background-position: 77px 57px, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icons/icon-gift.svg"), url("../img/img-tablet/background-gift@2x.jpg");
      background-size: auto, 707px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    padding: 0;
    background-image: url("../img/icons/icon-gift.svg"), url("../img/img-desktop/background-gift.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icons/icon-gift.svg"), url("../img/img-desktop/background-gift@2x.jpg");
      background-size: auto, 245px auto;
    }
  }
}

.gift__title {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 161px;
  margin: 0 auto auto 58px;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin: 0;
    text-align: left;
    top: 71px;
    left: 422px;
  }

  @media (min-width: $desktop-width) {
    top: 188px;
    left: 37px;
    text-align: center;
  }
}
