.input-icon {
  position: absolute;
  color: #222222;

  &--email {
    top: 5px;
    right: 16px;

    @media (min-width: $tablet-width) {
      right: 19px;
      top: 2px;
    }
  }

  &--phone {
    top: 2px;
    right: 13px;

    @media (min-width: $tablet-width) {
      right: 17px;
      top: 1px;
    }
  }
}
