.input-icon {
  position: absolute;
  color: #222222;

  &--email {
    top: 15px;
    right: 16px;

    @media (min-width: $tablet-width) {
      right: 55px;
      top: 18px;
    }

    @media (min-width: $desktop-width) {
      right: 30px;
      top: 18px;
    }
  }

  &--phone {
    top: 12px;
    right: 13px;

    @media (min-width: $tablet-width) {
      right: 55px;
      top: 15px;
    }

    @media (min-width: $desktop-width) {
      right: 30px;
      top: 15px;
    }
  }
}
