.input-icon {
  position: absolute;
  color: #222222;

  &--email {
    top: 5px;
    right: 16px;

    @media (min-width: $tablet-width) {
      right: 19px;
    }
  }

  &--phone {
    top: 2px;
    right: 13px;

    @media (min-width: $tablet-width) {
      right: 17px;
    }
  }
}

.control-input--email:focus + .input-icon--email {
  color: #68b738;
}

.control-input--phone:focus + .input-icon--phone {
  color: #68b738;
}

.control-input--phone-error + .input-icon--phone {
  color: #ff8282;
}

.control-input--email-error + .input-icon--email {
  color: #ff8282;
}
