.results {
  background-color: #eaeaea;
  padding: 25px 20px 40px 20px;

    @media (min-width: $tablet-width) {
      width: 768px;
      padding: 50px 30px 56px 30px;
      background-color: #ffffff;
    }
}

.results__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 40px 0;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin: 0 0 63px 0;
    }
}

.results__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $specialgrey;
  max-width: 280px;
  margin: 0;

    @media (min-width: $tablet-width) {
      max-width: 708px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 54px;
    }
}

.results__numbers {
  display: inline-block;
  width: 124px;

  &:not(:nth-child(4)) {
    margin-right: 24px;
  }

  @media (min-width: $tablet-width) {
    width: 130px;
  }
}

.results__number {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 37px;
    }
}

.results__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 14px;
    }
}

.results__cost {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

    @media (min-width: $tablet-width) {
      display: inline-block;
      max-width: 174px;
      font-size: 20px;
      line-height: 20px;
      text-align: end;
      margin: 0 0 0 160px;
    }
}

.results__image {
  margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      display: block;
    }
}

.results__results-condition {
  position: relative;
}
