.results-condition{
  display: flex;
  width: 210px;
  margin: 0 auto;
  justify-content: space-between;
}

.results-condition__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  min-width: 49px;
  min-height: 30px;
  cursor: pointer;
}

.results-condition__button--before {
  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 58px;
    display: block;
    width: 86px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #CDCDCD;
  }

  &::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 63px;
    display: block;
    width: 36px;
    height: 6px;
    background-color: $basicgreen;
    border-radius: 6px;
  }
}
