.results {
  box-sizing: border-box;
  background-color: #eaeaea;
  padding: 25px 20px 40px 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    width: 768px;
    padding: 50px 30px 56px 30px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 57%, #eaeaea 57%, #eaeaea 100%);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 200px 240px 193px 1fr;
    width: 1440px;
    padding: 50px 110px 70px 100px;
    background: linear-gradient(#ffffff 0%, #ffffff 23%, #f2f2f2 23%, #f2f2f2 100%);
  }
}

.results__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 63px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.results__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $specialgrey;
  max-width: 280px;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    max-width: 708px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    max-width: 436px;
    margin-bottom: 69px;
  }
}

.results__numbers {
  display: inline-block;
  width: 124px;
  margin-bottom: 30px;

  &:not(:nth-child(4)) {
    margin-right: 24px;

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.results__numbers--weight {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.results__numbers--time {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.results__number {
  box-sizing: border-box;
  display: block;
  min-height: 56px;
  min-width: 124px;
  font-size: 24px;
  font-weight: 400;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 72px;
    min-width: 162px;
    min-height: 72px;
  }
}

.results__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  background-color: #eaeaea;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    background-color: #f2f2f2;
  }
}

.results__text--weight {
  width: 80px;
  position: absolute;
  top: 48px;
  left: 22px;

  @media (min-width: $tablet-width) {
    width: 114px;
    top: 65px;
    left: 25px;
  }
}

.results__text--time {
  width: 80px;
  position: absolute;
  top: 48px;
  left: 22px;

  @media (min-width: $tablet-width) {
    width: 142px;
    top: 65px;
    left: 10px;
  }
}

.results__cost {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 190px;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
    margin: 0 0 0 120px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin: 0;
    max-width: 330px;
    text-align: start;
  }
}

.results__cost--text {
  @media (max-width: $mobile-width-only) {
    margin-left: 46px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

.results__cost--number {
  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    position: relative;
    top: 29px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    position: static;
    margin-left: 30px;
  }
}

.results__image {
  display: block;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.results__image-diff-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    grid-column: 1 / -1;
    margin-left: 59px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -1;
    grid-row: 1 / 4;
    margin-left: 194px;
  }
}

.results__image--cat-skinny,
.results__image--cat-fat {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.results__results-condition {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -1;
    grid-row: 4 / 5;
    margin-left: 200px;
  }
}
