.show-more {
  position: relative;

  @media (max-width: $mobile-width-only) {
    padding: 10px 0 0 0;

    &::after {
      content: "";
      display: block;
      width: 2000%;
      position: relative;
      top: 23px;
      left: -1000%;
      border-bottom: 1px solid #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    border: 2px solid #f2f2f2;
    margin-top: 90px;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
  }
}

.show-more__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 60px 0 8px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin: 161px 94px 23px 96px;
  }

  @media (min-width: $desktop-width) {
    margin: 171px 58px 23px 52px;
  }
}

.show-more__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin: 0 78px 87px 79px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 39px 87px 39px;
  }
}

.show-more__button {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 94px;
  max-width: 279px;
  margin: 0 auto;

  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 30px;
    position: absolute;
    top: 30px;
    left: 125px;
    border-bottom: 2px solid #d3d3d3;

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 82px;
      left: 132px;
    }

    @media (min-width: $desktop-width) {
      width: 60px;
      top: 82px;
      left: 92px;
    }
  }

  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 30px;
    position: absolute;
    top: 30px;
    left: 125px;
    border-bottom: 2px solid #d3d3d3;
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 82px;
      left: 132px;
    }

    @media (min-width: $desktop-width) {
      width: 60px;
      top: 82px;
      left: 92px;
    }
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    background-color: #ebebeb;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 10px 77px;
    max-width: 249px;
    margin: 0 37px 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 38px;
    max-width: 169px;
    margin: 0 37px 41px 38px;
  }
}
