.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 280px;
  min-height: 66px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    background: linear-gradient(to right, #ffffff 50%, $basicgreen 50%, $basicgreen 100%);
    min-height: 150px;
    padding: 0 110px;
  }
}

.header__logo-text {
  @media (min-width: $tablet-width) {
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 540px;
  }
}
