.header {
  box-sizing: border-box;
  background-color: #ffffff;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}

.header__wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  padding: 0 20px;
  min-height: 65px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 25px 30px;
    min-height: 80px;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 150px;
    padding: 50px 110px 30px 110px;
  }
}

.header__wrapper--inner {
  margin-bottom: 27px;

  &::after {
    content: "";
    display: block;
    width: 1000%;
    position: absolute;
    top: 66px;
    left: 0;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 25px 30px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, #ffffff 50%, #ffffff 100%);
    padding: 55px 110px 30px 110px;
  }
}

.header__logo-image {
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 24px;
  }
}

.header__logo-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo-img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__logo-img:hover {
  opacity: 0.8;
}

.header__logo-img:active {
  opacity: 0.6;
}
