.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 280px;
  min-height: 65px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }
}

.header__logo-text {
  @media (min-width: $tablet-width) {
    margin-right: 94px;
  }
}

