.navigation {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__toggle--open {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 24px;
  min-height: 20px;
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid black;
  cursor: pointer;

    &::after {
      content: '';
      display: block;
      min-width: 24px;
      border-bottom: 1.5px solid black;
    }

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      display: block;
      min-width: 24px;
      border-top: 1.5px solid black;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
}

.navigation__toggle--close {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 24px;
  min-height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

    &::after {
      content: '';
      display: block;
      min-width: 24px;
      border-bottom: 1.5px solid black;
      transform: rotate(-45deg);
    }

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      display: block;
      min-width: 24px;
      border-top: 1.5px solid black;
      transform: rotate(45deg);
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
}

.navigation__list {
  list-style-type: none;

    @media (max-width: $mobile-width-only) {
      position: absolute;
      left: -276px;
      top: 45px;
      width: 320px;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
    }

    @media (min-width: $tablet-width) {
      position: static;
      display: flex;
      width: 440px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      width: 640px;
    }
}

.navigation__item {

  @media (max-width: $mobile-width-only) {
    box-sizing: border-box;
    display: flex;
    min-height: 66px;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-top: 1px solid #e6e6e6;

      &:last-child{
        border-bottom: 1px solid #e6e6e6;
      }
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

    @media (max-width: $mobile-width-only) {
      padding: 22px;
    }

    @media (min-width: $tablet-width) {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      padding: 10px 0px;
    }

    @media (min-width: $desktop-width) {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
    }
}

.navigation__link--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basicgreen;
  }
}

@media (max-width: $mobile-width-only) {
  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--opened .navigation__list,
  .navigation--nojs .navigation__list {
    display: block;
  }
}
