.social__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 132px;
  padding: 0;
  margin: 0 auto 43px auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link {
  color: #000000;

  &:hover {
    color: #68B738;
  }

  &:active {
    color: #68B738;
    opacity: 0.6;
  }
}
